* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.HomePage > .HomePage_Contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.HomePage > .HomePage_Contents > .Experience {
  flex: 1;
  padding: 10px;
  min-width: 300px;
}

.HomePage > .HomePage_Contents > .Anecdote {
  flex: 1;
  padding: 10px;
  min-width: 300px;
}

.HomePage > cite {
  margin-bottom: 60px;
}

.HomePage > .HomePage_Contents > .Experience > h1 {
  text-align: center;
  margin-bottom: 40px;
}

.HomePage > .HomePage_Contents > .Anecdote > iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  min-height: 300px;
}

.AboutWe {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.AboutWe > .Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.AboutWe > .Cards > .card {
  width: 430px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
  text-align: center;
  transition: all 0.25s;
}

.AboutWe > .Cards > .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.AboutWe > .Cards > .card > img {
  width: 100%;
}

.AboutWe > .Cards > .card > ul {
  text-align: center;
  display: inline-block;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-column > input[type="button"] {
  width: 200px;
}

.content-recover-and-confirm {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
  background-color: #1da1f2;
}

.content-recover-and-confirm > .content-son {
  width: 50%;
  border: 1px solid #fff;
  margin-top: 10px;
  border-radius: 10px;
  height: min-content;
  color: white;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content-recover-and-confirm > .content-son > h1 {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #fff;
}

section.loginPage {
  align-items: center;
  background-color: rgb(238, 237, 236);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 1.5;
}

.center {
  display: flex;
  justify-content: center;
}

.frmLogin {
  align-items: center;
  background-color: #fff;
  /* background-color: #3b83ed; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.39);
}

.frmLogin > img {
  background-color: #fff;
  /* background-color: #3b83ed; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10px;
  margin-top: -15%;
  padding: 10px;
  width: 70%;
}

.Input {
  align-items: center;
  background-color: rgb(238, 237, 236);
  border-radius: 10px;
  display: flex;
  margin: 5px;
  max-width: 300px;
  padding: 5px;
  width: 100%;
}

.left {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

.icon {
  color: rgb(182, 181, 179);
}

.forgetPassword {
  margin: 10px;
  color: #6faaf7;
}

.line {
  background-color: #dadde1;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  width: 90%;
}

.line-vertical {
  background-color: #dadde1;
  margin: 20px;
  width: 1px;
}

.Input > .left > input {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 20px;
  outline: none;
  width: 100%;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  margin: 10px;
  max-width: 300px;
  outline: none;
  outline-offset: none;
  width: 100%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  cursor: pointer;
}

.loginTitle {
  color: #3578f2;
  font-size: 40px;
  font-weight: bold;
}

.loginPage > .flex1 > .content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.loginPage > .flex1 > .content > p {
  font-size: 20px;
}

.success {
  color: white;
  background-color: #3578f2;
  transition: 0.5s;
}

.createAcountButton {
  color: white;
  background-color: #53b72a;
  max-width: 200px !important;
  transition: 0.5s;
}

.success:hover,
.createAcountButton:hover {
  -webkit-box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
  transition: 0.5s;
}

.Cards {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.Cards,
.Card {
  display: flex;
  margin: 10px;
  align-items: center;
}

.Card {
  border: 1px solid #dadde1;
  border-radius: 10px;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
}

.Card:hover,
.Card-Active {
  background-color: #3578f2;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.Card-Content {
  margin-left: 10px;
}

.Card-Title {
  border-bottom: 1px solid #dadde1;
  margin-bottom: 10px;
}

.containerTitleModal {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.LeftTitleModal {
  flex: 1;
}

.RightTitleModal {
  /* flex: 1; */
  text-align: right;
}

.RightTitleModal:hover {
  color: #dadde1;
  cursor: pointer;
  transition: 0.2s;
}

.firebaseui-idp-text-long {
  display: none !important;
}

.firebaseui-idp-text-short {
  display: table-cell !important;
  text-align: center !important;
  width: 100%;
}

.firebaseui-idp-text {
  padding-left: 0px !important;
}

#firebaseui_container {
  flex: 1;
}

.container-type-register {
  display: flex;
}

.firebase-email-container {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.firebaseui-idp-button {
  border-radius: 10px !important;
}

.hover:hover {
  cursor: pointer;
}

.red {
  color: red;
}

.green {
  color: green;
}

.swal2-backdrop-show {
  z-index: 2000 !important;
}

.AboutUser {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 700px;
}

.AboutUser .About {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.AboutPhoto {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
}

.AboutPhoto > input[type="file"] {
  position: absolute;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  opacity: 0;
}

.AboutPhoto > input[type="file"]:hover {
  cursor: pointer;
}

.AboutPhoto > img {
  border-radius: 60px;
  width: 120px;
  height: 120px;
}

.AboutInfo {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutInfo > .input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.AboutButtons {
  display: flex;
  flex: 1;
  justify-content: center;
}

nav {
  background-color: #5098e0;
  color: white;
  display: flex;
  flex: 1;
  height: 50px;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #5098e0;
  position: fixed;
  width: 100%;
  z-index: 34;
}

nav > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

.Navbar-Settings {
  height: 80%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
}

.Navbar-Settings:hover {
  cursor: pointer;
  background-color: gray;
}

.Navbar-Icon {
  display: contents;
}

.Navbar-Icon > img:hover {
  cursor: pointer;
}

.Navbar-Icon > img {
  border-radius: 10px;
  max-width: 150px;
  height: 100%;
}

.Navbar-Items {
  height: 100%;
}

.Navbar-Items > ul {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Navbar-Items > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 90px;
}

.Navbar-Items > ul > li > a:hover {
  border-radius: 10px;
  background-color: rgba(30, 86, 238, 0.5);
  cursor: pointer;
  transition: 1s;
}

.Navbar-Items > ul > li > a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rute-Active {
  color: white;
  border-bottom: 4px solid #fff;
}

.Rute-Active:hover {
  border-radius: 0px !important;
  background: transparent !important;
}

.container {
  position: absolute;
  margin-top: 60px;
  width: 100%;
  height: calc(100vh - 80px);
}

.Computer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Movil {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}

.Movil .Content-movil-nav {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.FrmSettings {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
}

.FrmSettings > .AboutUser {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.FrmSettings > .AboutUser > div {
  margin-bottom: 10px;
}

.FrmSettings > .AboutUser > span:nth-child(3) {
  margin-bottom: 10px;
}

.FrmSettings > .AboutUser > input[type="button"] {
  width: 200px;
  font-size: 14px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #3e88fe;
}

.FrmSettings > .AboutUser > input[type="button"]:hover {
  background-color: #3e88fe !important;
  cursor: pointer;
}

/* SPLASH SCRENN */

.Splash {
  background: #1da1f2;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Splash > #icon {
  --size: 200px;
  transform: translate(-50%, -50%);
  width: var(--size);
}

.cover {
  background: #1da1f2;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade-out 2s /*infinite*/;
}

.cover > #icon {
  --size: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--size);
  animation: zoom-in 1s /*infinite*/;
  animation-delay: 1s;
}

.Settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.Settings > span {
  width: min-content;
}

.Settings > .My-Profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  height: 80px;
  align-items: center;
  border: 1px solid #dadde1;
  padding-left: 10px;
}

.Settings > .My-Profile:hover {
  background-color: #dadde1;
  cursor: pointer;
  user-select: none;
}

.Settings > .My-Profile > .About {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.Settings > .Suggestion {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
}

.Settings > .Suggestion > .Suggestion-Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  height: 70px;
  margin: 8px;
  border-radius: 20px;
  border: 1px solid #dadde1;
}

.Settings > .Suggestion > .Suggestion-Item:hover {
  background-color: #dadde1;
  cursor: pointer;
  user-select: none;
}

.Settings > .Settings-Items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 400px;
  border: 1px solid #dadde1;
}

.Settings > .Settings-Items > .Settings-Item {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #dadde1;
  width: 100%;
  max-width: 390px;
  user-select: none;
}

.Settings > .Settings-Items > .Settings-Item:hover {
  background-color: #dadde1;
  cursor: pointer;
}

.NewActivity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

thead {
  border-bottom: 2px solid rgb(42, 147, 196);
}

thead > tr {
  word-wrap: break-word;
  height: 50px;
}

tbody > tr:nth-child(1) > td {
  height: 50px;
  border-top: none;
}

tbody > tr > td:nth-child(1) {
  border: none;
  border-right: 2px solid rgb(42, 147, 196);
}

tbody > tr > td {
  border: 1px solid rgb(155, 151, 151);
  height: 50px;
  padding: 5px;
}

tbody > tr > td:nth-child(1):hover {
  cursor: default;
  background-color: transparent;
}

tbody > tr > td:hover {
  cursor: pointer;
  background-color: rgb(196, 194, 194);
}

.containerTables {
  overflow-x: scroll;
  width: 100%;
}

.containerTables::-webkit-scrollbar {
  display: none;
}

.containerTables > table {
  min-width: 700px;
}

.tableSon {
  height: calc(75vh - 100px);
  min-width: 700px;
  overflow-y: scroll;
}

.tableSon::-webkit-scrollbar {
  display: none;
}

.timeSelected {
  background: rgb(42, 147, 196);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  animation: opacity 1s;
  text-align: center;
}

.timeSelected > p {
  margin: 5px;
}

.ConfirmActivity {
  text-align: center;
}

.ConfirmActivity_Time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Content_Time {
  display: flex;
  /* background: #1da1f2; */
  flex-direction: column;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
  flex: 1;
}

.Content_Time > .Time {
  display: flex;
  justify-content: space-between;
}

.separate-Time {
  flex: 1;
  font-size: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 50px;
}

.Content_Time > .Time > .Box {
  border: 1px solid #dadde1;
  border-radius: 20px;
  flex: 1;
  height: 50px;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 6px;
}

.Hour,
.Minutes {
  background-color: #3e88fe;
  color: #fff;
}

.Content_Time > .stateDay {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.Content_Time > .stateDay > #separator {
  flex: 1;
  max-width: 50px;
}

.Content_Time > .stateDay > .state {
  border: 1px solid #dadde1;
  border-radius: 20px;
  flex: 1;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 6px;
}

.changeTime {
  display: flex;
  flex: 1;
}

.changeTime > .Buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.changeTime > .Buttons > button {
  background-color: transparent;
  background-color: #3578f2;
  border: 1px solid #dadde1;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.changeTime > .Buttons > button:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
  box-shadow: inset 0px 0px 20px 3px rgba(0, 0, 0, 0.39);
  transition: 0.5s;
}

.Map {
  flex: 1;
  margin: 20px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.Parameters {
  flex: 1;
}

.FrmActividad {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Quiz */

.Quiz {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.Quiz-content {
  border: 1px solid #dadde1;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.Quiz-content > input[type="text"] {
  height: 50px;
  font-size: 40px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.Quiz-content > .textarea {
  text-align: start;
  width: 100%;
  min-height: max-content;
  outline: none;
}

.Quiz-content > .textarea:hover {
  cursor: text;
}

.Quiz-content > .textarea:empty::before {
  position: absolute;
  content: "Descripcion del formulario";
  color: #757575;
}

.ultime-element-quiz {
  margin-bottom: 20px;
}

.Questions {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.Question {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  border-left: 4px solid #3578f2;
  margin-bottom: 20px;
  transition: 1s;
}

.Question > input[type="text"] {
  height: 40px;
  font-size: 30px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.Responses {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.Responses > .Response {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  transition: 1s;
}

.Responses > .Response > input[type="text"] {
  height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  flex: 1;
}

.Responses > .Response > p {
  color: #3578f2;
}

.Responses > .Response > p:hover {
  cursor: pointer;
}

.Responses > .Response > .icon-Delete {
  color: #dadde1;
  width: 29px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Responses > .Response > .icon-Delete:hover {
  border-radius: 50px;
  background-color: #dadde1;
  color: #a8a9aa;
  cursor: pointer;
  transition: 1s;
}

#Circle {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #dadde1;
  border-radius: 1000px;
  margin-right: 10px;
}

#Circle:hover,
.activeResponse {
  background-color: #3578f2;
  cursor: pointer;
}

.AddQuestions {
  display: flex;
  justify-content: center;
}

.AddQuestions:hover {
  cursor: pointer;
}

.IconAdd {
  position: absolute;
  margin-top: -6px;
  z-index: 10px;
  color: #dadde1;
  background-color: white;
  border-radius: 50px;
}

.LineAdd {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: #dadde1;
}

.pdfViewer_Content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pdfViewer_Content > .pdf {
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(180, 179, 179, 0.5);
  border-radius: 20px;
  /* border: 1px solid #000; */
}

.pdfViewer_Content > .controls-pdf {
  position: absolute;
  bottom: 30px;
  display: flex;
}

.pdfViewer_Content > .controls-pdf > .control {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.75);
  z-index: 20;
  background-color: rgba(255, 255, 255, 1);
  user-select: none;
}

.pdfViewer_Content > .controls-pdf > .control:hover {
  cursor: pointer;
  background-color: rgb(211, 208, 208);
}

.pdfViewer_Content > .controls-pdf > .page {
  width: 70px;
  font-size: 12px;
}

.pdfViewer_Content > .controls-pdf > .page:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 1);
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}

.Activity {
  max-width: 500px;
  width: 100%;
  background-color: #1da1f2;
  margin-top: 40px;
  border-radius: 20px;
  color: #fff;
  -webkit-box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 12px -6px rgba(0, 0, 0, 0.75);
}

.Activity > .Header {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.Activity > .Header > .content {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Activity > .Header > .content > label {
  font-size: 15px;
  font-weight: bold;
}

.Activity > .Header > .content > cite {
  font-size: 10px;
}

.Activity > .Body {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  max-height: 350px;
  overflow: hidden;
}

.Activity > .Body > h2 {
  text-align: center;
}

.Activity > .Body > .content {
  flex: 1;
}

.Activity > .Footer {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 30px;
}

.Activity > .Footer:hover {
  cursor: pointer;
  background-color: #a19f9f;
  border: 1px solid #a19f9f;
  transition: 1s;
}

.PageActivity {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.PageActivity > .Content {
  max-width: 800px;
  width: 100%;
  margin-bottom: 40px;
}

.PageActivity > .Content > .sidebar {
  background: rgba(179, 220, 237, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(179, 220, 237, 1)),
    color-stop(50%, rgba(41, 184, 229, 1)),
    color-stop(100%, rgba(188, 224, 238, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1);
  width: 100%;
  height: 100px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.PageActivity > .Content > .BussinesInformation {
  display: flex;
  margin-bottom: 10px;
  flex: 1;
  justify-content: flex-end;
}

.PageActivity > .Content > .BussinesInformation > .Info {
  text-align: right;
  margin-right: 10px;
}

.PageActivity > .Content > .Description {
  margin-bottom: 20px;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  50% {
    width: var(--size);
  }
  60% {
    width: calc(var(--size) * 0.9);
  }
  100% {
    width: 250%;
  }
}

@keyframes fade-out {
  0%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1068px) {
  .loginPage > div:nth-child(1) {
    display: none;
  }
  .container-type-register {
    flex-direction: column;
  }
  .AboutUser .About {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .Movil {
    display: flex;
  }
  .Computer {
    display: none;
  }
  nav {
    height: 110px;
  }
  .Navbar-Items {
    width: 100%;
  }
  .Navbar-Items > ul {
    padding: 0px;
    margin: 0px;
    height: 100%;
    justify-content: space-between;
  }
  .container {
    margin-top: 123px;
    overflow-y: scroll;
    max-height: calc(100vh - 123px);
    overflow-x: hidden;
  }
  .content-recover-and-confirm > .content-son {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .Navbar-Items > ul > li {
    width: 100%;
  }
  .changeTime {
    flex-wrap: wrap;
  }
  .changeTime > .Buttons {
    flex-direction: row;
  }
}
